#
SetEnv APP_ENV "DEVELOPMENT"
#SetEnv APP_ENV "TESTING"
#SetEnv APP_ENV "PRODUCTION"

# disable directory listing
Options -Indexes

RewriteEngine On

#RewriteBase /example

#RewriteCond %{REQUEST_URI} !-d
#RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} /example/content
RewriteCond %{REQUEST_URI} !/example/Web/public/content
RewriteRule (.*) /example/Web/public/$1 [L]

RewriteCond %{REQUEST_URI} !/example/content
RewriteCond %{REQUEST_URI} !/example/Web/public/content
RewriteCond %{REQUEST_URI} !/example/Web/public/index.php
RewriteRule (.*) /example/Web/public/index.php/$1 [L]